.idea/
__pycache__
Data/cifar-10-batches-py/batches.meta
Data/cifar-10-batches-py/data_batch_1
Data/cifar-10-batches-py/data_batch_2
Data/cifar-10-batches-py/data_batch_3
Data/cifar-10-batches-py/data_batch_4
Data/cifar-10-batches-py/data_batch_5
Data/cifar-10-batches-py/readme.html
Data/cifar-10-batches-py/test_batch
Data/MNIST/processed/*
Data/MNIST/raw/*
Data/SVHN/test_32x32.mat
Data/SVHN/train_32x32.mat
